#color-display {
	width: 500px;
	height: 200px;
	margin: 1em auto 0 auto;
	background-color: #000;
}

#current-color {
	text-align: center;
	margin-top: 1em;
	font-size: 2em;
}

#set-color {
	margin: 1em auto 0 auto;
	display: block;
	width: 200px;
}

#set-color input {
	width: 100%;
}

#hex-color {
	margin: 3em auto 0 auto;
	width: 270px;
	font-size: 1.3em;
}

#hex-color .column {
	display: inline-block;
	margin-left: 2em;
}